{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    The best cars in the Internet!
{% endblock %}
{% block body %}
    <h1>Our Offer</h1>
    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
            <th>Actions</th>
            {% for car in cars %}
                <tr>
                    <td>{{ car.make.name }}</td>
                    <td>{{ car.model.name }}</td>
                    <td><a href="{{ url('show_car', {id:car.id}) }}">Show details</a></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
{% endblock %}