{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    The best cars in the Internet!
{% endblock %}
{% block body %}
    <h1>Our Offer</h1>
    <table class="table">
        <tr>
            <th>Make</th>
            <th>Name</th>
            {% for car in cars %}
                <tr>
                    <td>{{ car.make }}</td>
                    <td>{{ car.name }}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
{% endblock %}